<template lang="html">
    <progressive-background
      src="/img/bg_tv.jpg"
      placeholder="/img/bg_tv_low.webp">
    <v-row slot="content" justify="center" align="center">
      <v-col cols="12" sm="8" md="6">
        <v-card class="card">
          <v-card-title class="headline">
            <h1>Pick your <br class="hidden-lg-and-up">poison</h1>
          </v-card-title>
          <v-card-text>
            <hr class="my-3" />
            <div class="slim">
              <SVGButton
                  src="/img/phone.svg"
                  text="Stream"
                  marginTop="25%"
                  to="/app/stream/"/>
              <SVGButton
                  src="/img/desktop.svg"
                  text="Play"
                  marginTop="15%"
                  to="/app/play/"/>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </progressive-background>
</template>

<script lang="ts">
import SVGButton from "@/components/SVGButton.vue";

export default {
  components: {
    SVGButton,
  },
}
</script>

<style lang="scss" scoped>
.slim {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  >* {
    min-width: 250px;
    max-width: 300px;
    flex: 1 1 auto;
  }
}
</style>