<template>
  <progressive-background
      src="/img/bg_play.webp"
      placeholder="/img/bg_play_low.webp">
    <v-row slot="content" justify="center" align="center">
      <v-col cols="12" sm="8" md="6">
        <v-card class="card">
          <v-card-title class="headline">
            <h1>Play</h1>
          </v-card-title>
          <v-card-text v-show="!receiving">
            <hr class="my-3" />
            <h2>Enter this code in the streamer device</h2>
            <v-skeleton-loader
              :loading="Object.is(localID, undefined)"
              transition="scale-transition"
              type="heading"
              class="ps-4 my-3"
            >
              <h1>{{ localID }}</h1>
            </v-skeleton-loader>
            <h2>Or scan the following QR code</h2>
            <v-skeleton-loader
              :loading="Object.is(localID, undefined)"
              transition="scale-transition"
              type="image"
              class="ps-4 my-3"
              height="300"
              width="300"
            >
              <qrcode :value="localID" :options="{ width: 300 }"></qrcode>
            </v-skeleton-loader>
          </v-card-text>
          <v-card-text v-show="receiving" style="position: relative;">
            <video playsinline autoplay controls ref="videoPlayer"></video>
            <v-fab-transition>
              <v-btn
                absolute
                top right
                fab
                @click="popPlayer"
              >
                <v-icon>mdi-open-in-app</v-icon>
              </v-btn>
            </v-fab-transition>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </progressive-background>
</template>

<script>
if (process.client) {
  const Peer = require('peerjs');
}

export default {
  data() {
    return {
      localID: undefined,
      streamerID: undefined,
      peer: undefined,
      call: undefined,
      receiving: false,
    };
  },
  mounted() {
    if (process.client) {
      var peer = new Peer();
      this.$data.peer = peer;
      
      peer.on('open', id => {
        this.$data.localID = id;
      })
      
      peer.on('call', call => {
        this.$data.call = call;

        call.answer();

        let videoPlayer = this.$refs.videoPlayer;
        call.on('stream', stream => {
          videoPlayer.srcObject = stream;
          videoPlayer.onloadedmetadata = function(e) {
            videoPlayer.play();
          };
          this.$data.receiving = true;
        })
      })
    }
  },
  methods: {
    popPlayer() {
      var w = window.open('', '', 'width=800,height=600');
      let videoPlayer = this.$refs.videoPlayer;

      w.document.body.outerHTML = videoPlayer.outerHTML;
      videoPlayer.pause();

      let newPlayer = w.document.body.children[0];
      newPlayer.onloadedmetadata = function(e) {
        newPlayer.play();
      };

      newPlayer.srcObject = videoPlayer.srcObject;

      w.document.body.style.display = 'flex';
      w.document.body.style.justifyContent = 'center';
      w.document.body.style.backgroundColor = 'black';
      newPlayer.style.height = '100%'
    }
  }
}
</script>

<style lang="scss" scoped>
.v-card__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  width: 100%;
  background-color: black;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>