<template>
    <progressive-background
      src="/img/bg_stream.jpg"
      placeholder="/img/bg_stream_low.webp">
    <v-row slot="content" justify="center" align="center">
      <v-col cols="12" sm="8" md="6">
        <v-card class="card">
          <v-card-title class="headline">
            <h1>Stream</h1>
          </v-card-title>
          <v-card-text v-show="!streaming">
            <hr class="my-3" />
            <v-stepper v-model="e1" class="opaquer">
              <v-stepper-header>
                <v-stepper-step
                    :complete="e1 > 1"
                    step="1"
                  >
                    Permissions
                </v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step
                    :complete="e1 > 2"
                    step="2"
                  >
                    Connection
                </v-stepper-step>
              </v-stepper-header>
              <v-stepper-items>
                <v-stepper-content step="1">
                  <v-card
                      class="mb-12 px-2"
                      color="transparent"
                      flat
                    >
                    <h2>Please select what you want to stream</h2>
                    <v-checkbox
                      v-model="wantsAudio"
                      label="Audio"
                    ></v-checkbox>
                    <v-checkbox
                      v-model="wantsVideo"
                      label="Video"
                    ></v-checkbox>
                    
                    <h2>Allow this website to access your media data</h2>
                    <v-btn
                        :color="Object.is(mediaStream, undefined)? 'primary': 'success'"
                        :depressed="!Object.is(mediaStream, undefined)"
                        :disabled="!(wantsAudio || wantsVideo)"
                        @click="tryAllow"
                      >
                      {{ Object.is(mediaStream, undefined)? 'Allow': 'Allowed' }}
                    </v-btn>
                    <v-snackbar
                        v-model="permError"
                        color="error"
                        top
                      >
                      There was an error while requesting permissions. Please try again.
                    </v-snackbar>
                  </v-card>
                  <v-btn
                      color="primary"
                      :disabled="!(wantsAudio || wantsVideo) || Object.is(mediaStream, undefined)"
                      @click="e1 = 2"
                    >
                    Continue
                  </v-btn>
                  <v-btn
                      text
                      @click="$router.back()"
                    >
                    Back
                  </v-btn>
                </v-stepper-content>

                <v-stepper-content step="2">
                  <v-card
                      class="mb-12 px-2"
                      color="transparent"
                      flat
                    >
                    <h2>Please enter the</h2>
                    <v-text-field
                        label="Player ID"
                        hide-details="auto"
                        ref="idInput"
                        v-model="playerID"
                        :rules="idRules"
                      >
                    </v-text-field>
                    
                    <h2>Or</h2>
                    <qrcode-capture hidden ref="qrDecoder" @detect="onDetected" />
                    <v-btn
                        color="primary"
                        :loading="qrDecorderWorking"
                        @click="scanQR"
                      >
                      Scan a QR code
                    </v-btn>
                    <v-snackbar
                        v-model="qrError"
                        color="error"
                        top
                      >
                      There was an error while reading the QR code. Please try again.
                    </v-snackbar>
                  </v-card>

                  <v-btn
                      color="primary"
                      :disabled="idValid()"
                      :loading="!Object.is(call, undefined) && !streaming"
                      @click="tryToConnect"
                    >
                    Try to connect
                  </v-btn>
                  <v-btn
                      text
                      @click="e1 = 1"
                    >
                    Back
                  </v-btn>
                </v-stepper-content>
              </v-stepper-items>
            </v-stepper>
          </v-card-text>
          <v-card-text v-show="streaming" class="mx-0 px-0" style="position: relative;">
            <video playsinline controls muted autoplay ref="videoPlayer"></video>
            <!-- <v-dialog
                v-model="settingsDialog"
                fullscreen
                hide-overlay
                transition="dialog-bottom-transition"
              >
              <template v-slot:activator="{ on, attrs }">
                <v-fab-transition>
                  <v-btn
                      color="primary"
                      absolute
                      fab large
                      bottom right
                      v-bind="attrs"
                      v-on="on"
                    >
                    <v-icon>mdi-share-variant</v-icon>
                  </v-btn>
                </v-fab-transition>
              </template>
              <v-card>
                <v-toolbar
                  dark
                  color="primary"
                >
                  <v-btn
                    icon
                    dark
                    @click="settingsDialog = false"
                  >
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                  <v-toolbar-title>Settings</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-list
                    three-line
                    subheader
                  >
                  <v-subheader>General</v-subheader>
                  <v-list-item>
                    <p>Select Audio device</p>
                    <v-overflow-btn
                        :items="audioDevices"
                        label="Select Audio device"
                      >
                    </v-overflow-btn>
                  </v-list-item>
                  <v-list-item>
                    <p>Select Video device</p>
                    <v-overflow-btn
                        :items="videoDevices"
                        label="Select Video device"
                      >
                    </v-overflow-btn>
                  </v-list-item>
                </v-list>
              </v-card>
            </v-dialog> -->
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </progressive-background>
</template>

<script>
if (process.client) {
  const Peer = require('peerjs')
}

export default {
  data() {
    return {
      playerID: "",
      localID: undefined,
      call: undefined,
      peer: undefined,
      streaming: false,

      wantsVideo: true,
      wantsAudio: true,

      qrDecorderWorking: false,

      permError: false,
      qrError: false,
      settingsDialog: false,

      e1: 1,

      mediaStream: undefined,

      audioDevices: [],
      videoDevices: [],

      idRules: [
        val => !!val || 'An ID is required',
        val => this.alphanumeric(val.charCodeAt(0)) || 'The ID must start with an alphanumeric character', 
        val => this.alphanumeric(val.slice(-1).charCodeAt(0)) || 'The ID must end with an alphanumeric character', 
      ],
    };
  },
  mounted() {
    if (process.client) {
      let peer = new Peer();
      this.$data.peer = peer;
      peer.on('open', id => {
        this.$data.localID = id;
      })
      
      navigator.mediaDevices.enumerateDevices()
      .then(dev => {
        let labels = "";
        dev.forEach(device => {
          labels += device.label;
        });
        console.log(labels)
        if (labels !== "") {
          this.$data.e1 = 2;
          this.tryAllow();
        }
      })
    }
  },
  methods: {
    tryAllow() {
      navigator.mediaDevices.getUserMedia({
        audio: this.$data.wantsAudio,
        video: this.$data.wantsVideo? {
          facingMode: 'environment',
        }: false,
      })
      .then(mediaStream => {
        this.$data.mediaStream = mediaStream
      })
      .catch(err => {
        console.error(err);
        this.$data.permError = true;
      })
    },
    alphanumeric(code) {
      return !(!(code > 47 && code < 58) && // numeric (0-9)
            !(code > 64 && code < 91) && // upper alpha (A-Z)
            !(code > 96 && code < 123)) // lower alpha (a-z)
    },
    onDetected(detectionPromise) {
      this.$data.qrDecorderWorking = true;

      detectionPromise.then(({content, location, imageData}) => {
        this.$data.qrDecorderWorking = false;

        if (content === undefined || content === null) {
          this.$data.qrError = true;
        } else {
          this.$data.playerID = content;
        }
      })
    },
    scanQR() {
      this.$refs.qrDecoder.$el.click()
    },
    idValid() {
      if (Object.is(this.$refs.idInput, undefined)) return false;
      else return this.$refs.idInput.hasError;
    },
    tryToConnect() {
      var peer = this.$data.peer;
      var call = peer.call(
        this.$data.playerID,
        this.$data.mediaStream
      );
      this.$data.call = call;

      let retries = 600;
      // Check the connection for up to a minute
      let interval = setInterval(() => {
        this.$data.streaming = call.open;
        if (call.open) { retries = 0; this.callOpen(); }
        else retries -= 1;
        if (!retries) clearInterval(interval);
      }, 100)

    },
    callOpen() {
      this.$data.e1 = 3;
      this.$refs.videoPlayer.srcObject = this.$data.mediaStream;
    }
  },
}
</script>

<style lang="scss" scoped>
h2 {
  margin-bottom: 12px;
}
.v-input--selection-controls {
  margin: 0;
}

.v-text-field {
  margin: 0;
  margin-bottom: 24px;
}

.v-list-item {
  flex-flow: column;
  align-items: flex-start;
  min-height: 0;

  >* {
    width: 100%;
  }
}

</style>