<template>
  <div
      class="svg-container"
      @click="click">
    <img
        :src="src"
        alt="Stream button"
        class="svg-image">
    <p :style="{
          '--mar-top': marginTop
        }">
      {{ text }}</p>
  </div>
</template>

<script>
export default {
  props: {
    src: {
      type: String,
    },
    text: {
      type: String,
    },
    marginTop: {
      type: String,
    },
    to: {
      type: String,
      required: false,
    },
  },
  methods: {
    click() {
      if (!Object.is(this.$props.to, undefined)) this.$router.push(this.$props.to);
      this.$emit('click');
    }
  }
}
</script>

<style lang="scss">
.svg-container {
  position: relative;
  cursor: pointer;

  img.svg-image {
    width: 100%;
    height: auto;
  }

  p {
    
    position: absolute;
    top: 0;
    margin-top: var(--mar-top);
    width: 100%;

    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: #E45257;
  }
}
</style>