.progressive-background {
    width: 100vw;
}

.progressive-background>span>div {
    padding: 0!important;
    min-height: calc(100vh - 56px);
}

.progressive-background>div {
    padding: 0!important;
    min-height: calc(100vh - 56px);
}

.v-toolbar__content {
    padding: 0!important;
    overflow-x: auto;
}

.v-footer {
  background-color: transparent!important;
  color: white!important;
  mix-blend-mode: difference;
}

video {
    width: 100%;
}

.headline h1 {
    line-height: 0.8;
}

.card {
    background-color: rgba(255, 255, 255, 0.6)!important;
    backdrop-filter: blur(4px);
}

.opaquer {
    background-color: rgba(255, 255, 255, 0.3)!important;
}

.transparent {
    background-color: rgba(255, 255, 255, 0)!important;
}