<template>
  <v-app>
    <v-app-bar :clipped-left="clipped" fixed app>
      <!-- <v-btn icon @click.stop="rightDrawer = !rightDrawer">
        <v-icon>mdi-menu</v-icon>
      </v-btn> -->
      <v-btn icon @click.stop="$router.back()" class="ms-3">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <img src="/img/icon.png" alt="Icon" style="height: 75%" class="mx-2">
      <v-toolbar-title v-text="title" />
      <v-spacer />
    </v-app-bar>
    <v-main>
      <client-only>
      <v-container class="main-container">
        <nuxt />
      </v-container>
      </client-only>
    </v-main>
    <!-- <v-navigation-drawer v-model="rightDrawer" :right="false" temporary fixed>
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light> mdi-repeat </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer> -->
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire',
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'RTCam',
    }
  },
}
</script>

<style>
.v-main {
  padding-bottom: 0!important;
}
.main-container {
  padding: 0;
  margin: 0;
  max-width: 100%;
}
</style>