<template>
  <v-layout>
    <v-flex class="text-center">
      <blockquote class="blockquote">
        WIP
        <footer>
          <small>
            <em>uwu</em>
          </small>
        </footer>
      </blockquote>
    </v-flex>
  </v-layout>
</template>
