<template>
  <progressive-background
      src="/img/bg_cam.webp"
      placeholder="/img/bg_cam_low.webp">
    <v-row slot="content" justify="center" align="center">
      <v-col cols="12" sm="8" md="6">
        <v-card class="card">
          <v-card-title class="headline">
          <v-badge
              content="BETA"
            >
            <h1>Welcome <br class="hidden-lg-and-up">to RTCam</h1>
          </v-badge>
            
          </v-card-title>
          <v-card-text>
            <h2>
              Streaming your webcam or camera to other devices has never been easier
            </h2>
            <hr class="my-3" />
          </v-card-text>
          <v-card-actions class="actions">
            <v-btn
                color="secondary"
                outlined
                nuxt to="/faq"
                rounded>
                Troubleshooting
            </v-btn>
            <v-btn
                color="#FC6D27"
                outlined
                href="https://gitlab.com/rtcam"
                rounded>
                Check our GitLab!
            </v-btn>
            <v-btn
                color="primary"
                nuxt to="/app"
                rounded>
                Start Streaming!
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </progressive-background>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
.card {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);

  p {
    color: black;
  }

  .actions {
    flex-wrap: wrap;

    >* {
      flex: 1 1 auto;
      margin: 0!important;
    }
  }
}
</style>